<div>
  <div class="input-group">
    <input type="text" class="form-control" [attr.name]="weapon.name" [(ngModel)]="weapon.name" placeholder="Name">
    <span class="input-group-addon">{{weapon.damage}}</span>
    <span class="input-group-btn">
      <button class="btn btn-dark" 
          type="button"
          data-toggle="collapse" 
          [attr.data-target]="'#' + 'weapon' + index">   
          detail          
      </button>
    </span>
  </div>

  <div class="container-fluid collapse" [attr.id]="'weapon' + index">

    <div class="row">

      <div class="col-4  input-group">
        <span class="input-group-addon" id="basic-addon1">TL</span>
        <input type="number" class="form-control" id="tl" name="tl" [(ngModel)]="weapon.tl">
      </div>

      <div class="col-4 input-group">
        <span class="input-group-addon" id="basic-addon1">type</span>
        <input type="text" class="form-control" id="type" name="type" [(ngModel)]="weapon.type">
      </div>

      <div class="col-4 input-group">
          <span class="input-group-addon" id="basic-addon1">enc</span>
          <input type="text" class="form-control" id="encumbrance" name="encumbrance" [(ngModel)]="weapon.encumbrance">
        </div>
  
    </div>

    <div class="row">
      <div class="col-5 input-group">
        <span class="input-group-addon" id="basic-addon1">attribute</span>
        <input type="text" class="form-control" id="attribute" name="attribute" [(ngModel)]="weapon.attribute">
      </div>

      <div class="col-4 input-group">
        <span class="input-group-addon" id="basic-addon1">rng</span>
        <input type="text" class="form-control" id="effectiv" name="effectiv" [(ngModel)]="weapon.range.effectiv">
      </div>
      <input type="text" class="col-3 form-control" id="max" name="max" [(ngModel)]="weapon.range.max">
    </div>

    <div class="row" style="padding-bottom: 5px">
        <textarea class="col" rows="2" id="details" name="details" [(ngModel)]="weapon.details"></textarea>
    </div>
  </div>
</div>