<form>
  <div class="container-4 well bs-component" style="text-align:center">
    <h2>Attributes</h2>
    <app-attribute label="Strength" [(attribute)]="character.stats.str" ></app-attribute>
    <app-attribute label="Desterity" [(attribute)]="character.stats.dex"></app-attribute>
    <app-attribute label="Constitution" [(attribute)]="character.stats.con"></app-attribute>
    <app-attribute label="Inteligence" [(attribute)]="character.stats.int"></app-attribute>
    <app-attribute label="Wisdom" [(attribute)]="character.stats.wis"></app-attribute>
    <app-attribute label="Charisma" [(attribute)]="character.stats.cha"></app-attribute>
  </div>
</form>
