<form>
  <div class="container-4 well bs-component" style="text-align:center">
    <h2>Attributes</h2>
    <app-attribute label="Strength" [(value)]="character.stats.str" [modifier]="character.derived.strModifier"></app-attribute>
    <app-attribute label="Desterity" [(value)]="character.stats.dex" [modifier]="character.derived.dexModifier"></app-attribute>
    <app-attribute label="Constitution" [(value)]="character.stats.con" [modifier]="character.derived.conModifier"></app-attribute>
    <app-attribute label="Inteligence" [(value)]="character.stats.int" [modifier]="character.derived.intModifier"></app-attribute>
    <app-attribute label="Wisdom" [(value)]="character.stats.wis" [modifier]="character.derived.wisModifier"></app-attribute>
    <app-attribute label="Charisma" [(value)]="character.stats.cha" [modifier]="character.derived.chaModifier"></app-attribute>
  </div>
</form>
