<form>
  <div class="container-4 well bs-component" style="text-align:center">

    <h2>Equipment
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
    </h2>

    <div class="row" *ngFor="let item of character.equipment; let i = index">
      <app-equipment-item [class.col-10]="editMode" [item]="item" [index]="i" [editMode]="editMode"></app-equipment-item>
      <app-list-remove-button class="col-1" [(editMode)]="editMode" [index]="i" (click)="onRemove(i)"></app-list-remove-button>
    </div>

    <app-list-add-button [(editMode)]="editMode" (click)="onAdd()"></app-list-add-button>
  </div>
</form>
