<form>
  <div class="container-4 well bs-component" style="text-align:center">

    <h2>Stats
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
    </h2>

    <div class="form-group row justify-content-center">
      <div class="col-5 input-group">
        <span class="input-group-addon">XP</span>
        <input [readonly]="!editMode" type="number" class="form-control" id="input" [(ngModel)]="character.xp" name="xp">
      </div>
      <div class="col-5 input-group">
        <span class="input-group-addon">Level</span>
        <input type="text" class="form-control" readonly [value]="character.derived.getLevel()">
      </div>

      <div class="col-5 input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-heart"></span>
        </span>
        <input type="number" [class.col-6]="editMode" class="form-control" id="input" [(ngModel)]="character.hp.current" name="hp" placeholder="hp">
        <span *ngIf="!editMode" class="input-group-addon">max {{character.hp.max}}</span>
        <input *ngIf="editMode" type="number" class="form-control col-6" id="input" [(ngModel)]="character.hp.max" name="hpmax" placeholder="max">
      </div>
      <div class="col-5 input-group">
        <span class="input-group-addon">strain</span>
        <input type="number" [class.col-6]="editMode" class="form-control" id="input" [(ngModel)]="character.systemstrain.current" name="strain" placeholder="strain">
        <span *ngIf="!editMode" class="input-group-addon">max {{character.systemstrain.max}}</span>
        <input *ngIf="editMode" type="number" class="form-control col-6" id="input" [(ngModel)]="character.systemstrain.max" name="strainmax"
          placeholder="max">
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label class="col-3 col-form-label" style="text-align:right;">Attack Bonus</label>
      <label class="col-3 col-form-label" style="text-align:left;">{{character.derived.attackBonus}}</label>
    </div>

    <h6 class="col">Saves</h6>

    <div class="form-group row">
      <div class="col" style="text-align:right;">Physical</div>
      <div class="col" style="text-align:left;">{{character.derived.physicalSave}}</div>
      <div class="col" style="text-align:right;">Evasion</div>
      <div class="col" style="text-align:left;">{{character.derived.evasionSave}}</div>
    </div>
    <div class="form-group row">
      <div class="col" style="text-align:right;">Mental</div>
      <div class="col" style="text-align:left;">{{character.derived.mentalSave}}</div>
      <div class="col" style="text-align:right;">Luck</div>
      <div class="col" style="text-align:left;">{{character.derived.baseSave}}</div>
    </div>

  </div>
</form>
