<form>
  <div class="container-4 well bs-component" style="text-align:center">

    <div *ngIf="!editMode">
      <h3 style="word-wrap: break-word">
        <b>{{character.name}}</b>
        <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
      </h3>
      <h5>
        <b>{{character.species}} {{className}}</b>
      </h5>
      <h5>
        <b>{{character.background}}</b> from
        <b>{{character.homeworld}}</b>
      </h5>

    </div>

    <div *ngIf="editMode">
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" id="input" [(ngModel)]="character.name" name="name">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Species</span>
        <input type="text" class="form-control" id="input" [(ngModel)]="character.species" name="species">
      </div>

      <div class="input-group">
        <span class="input-group-addon">Class</span>
        <select [(ngModel)]="character.class" name="Select name" class="input-group" id="class">
          <option *ngFor="let key of classKeys" [attr.value]="key">{{prettyClassName(key)}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Background</span>
        <input type="text" class="form-control" id="input" [(ngModel)]="character.background" name="background">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Homeworld</span>
        <input type="text" class="form-control" id="input" [(ngModel)]="character.homeworld" name="homeworld">
      </div>
    </div>
  </div>
</form>
