<form>
  <div class="container-4 well bs-component" style="text-align:center">
    <h2>Cyberware
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
    </h2>

    <div class="row" *ngFor="let cyberware of character.cyberware; let i = index">
      <app-cyberware [class.col-10]="editMode" [cyberware]="cyberware" [index]="i" [editMode]="editMode"></app-cyberware>
      <app-list-remove-button class="col-1" [(editMode)]="editMode" [index]="i" (click)="onRemove(i)"></app-list-remove-button>
    </div>

    <app-list-add-button [(editMode)]="editMode" (click)="onAdd()"></app-list-add-button>
  </div>
</form>
