<div>
  <div class="input-group">
    <input [readonly]="!editMode" type="text" [ngClass]="editMode?'form-control col-9':'form-control'" id="name" [(ngModel)]="item.name"
      placeholder="Name" [ngbTypeahead]="search" (selectItem)="onSelectItem($event)">

    <input *ngIf="editMode" type="number" [ngClass]="editMode?'form-control col-3':'form-control'" id="xp" [(ngModel)]="item.level"
      placeholder="level">
    <span *ngIf="!editMode" class="input-group-addon">lvl {{item.level}}</span>

    <span class="input-group-btn">
      <button class="btn btn-dark" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'focus' + index">
        detail
      </button>
    </span>
  </div>

  <div class="collapse" [attr.id]="'focus' + index">
    <div class="input-group">
      <textarea [readonly]="!editMode" class="col" rows="7" placeholder="Description" [(ngModel)]="item.details"></textarea>
    </div>
  </div>
</div>
