<form>
  <div class="container-4 well bs-component" style="text-align:center">

    <h3>Skills
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
    </h3>

    <div class="row" *ngFor="let skill of character.skills; let i = index;">
      <app-skill [class.col-10]="editMode" [skill]="skill" [includePsychics]="character.isPsychic" [index]="i" [editMode]="editMode"></app-skill>
      <app-list-remove-button class="col-1" [(editMode)]="editMode" [index]="i" (click)="onRemove(i)"></app-list-remove-button>
    </div>

    <app-list-add-button [(editMode)]="editMode" (click)="onAdd()"></app-list-add-button>

    <br>

    <div *ngIf="editMode" class="input-group">
      <span class="input-group-addon">remaining skill points</span>
      <input type="number" class="form-control" name="remaining" placeholder="remaining" [(ngModel)]="character.remainingSkillPoints">
    </div>
  </div>
</form>
