<div>
  <div class="input-group">
    <input *ngIf="editMode" type="text" class="col-9 form-control" name="name" placeholder="Skill Name" [(ngModel)]="skill.name"
      [ngbTypeahead]="search" (selectItem)="onSelectItem($event)">

    <span *ngIf="!editMode" class="input-group-btn">
      <button [ngClass]="skill.type==='psychic'?'btn btn-info btn-block':'btn btn-dark btn-block'" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'skill' + index">
        {{skill.name}}
      </button>
    </span>

    <input *ngIf="editMode" type="number" class="col-3 form-control" name="level" placeholder="level" [(ngModel)]="skill.level">

    <span *ngIf="!editMode" class="input-group-addon">lvl {{skill.level}}</span>
  </div>

  <p class="col collapse" [attr.id]=" 'skill' + index" style="text-align:center;">{{skill.details}}</p>
</div>
