<div>
  <div class="input-group">
    <input [readonly]="!editMode" type="text" [ngClass]="editMode?'form-control col-9':'form-control'" name="name" [(ngModel)]="item.name"
      placeholder="Name" [ngbTypeahead]="search" (selectItem)="onSelectItem($event)">

    <input *ngIf="editMode" type="number" [ngClass]="editMode?'form-control col-3':'form-control'" id="ac" [(ngModel)]="item.ac"
      placeholder="AC">
    <span *ngIf="!editMode" class="input-group-addon">ac {{item.ac}}</span>

    <span class="input-group-btn">
      <button class="btn btn-dark" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'armor' + index">
        details
      </button>
    </span>
  </div>

  <div class="collapse container-fluid" [attr.id]="'armor' + index">

    <div class="row">
      <div class="col-4 input-group">
        <span class="input-group-addon" id="basic-addon1">enc</span>
        <input [readonly]="!editMode" type="number" class="form-control" name="encumbrance" [(ngModel)]="item.encumbrance" placeholder="Encumberance">
      </div>

      <div [ngClass]="editMode?'col-3 input-group':'col-4 input-group'">
        <span class="input-group-addon" id="basic-addon1">TL</span>
        <input [readonly]="!editMode" type="number" class="form-control" name="tl" [(ngModel)]="item.tl" placeholder="Tech Level">
      </div>

      <div [ngClass]="editMode?'col-5 input-group':'col-4 input-group'">
        <span class="input-group-addon" id="basic-addon1">acbonus</span>
        <input [readonly]="!editMode" type="number" class="form-control" name="acbonus" [(ngModel)]="item.acbonus" placeholder="AC Bonus">
      </div>

    </div>
  </div>
</div>
