<form>
  <div class="container-4 well bs-component" style="text-align:center">
    <h3>Armor
      <app-edit-toggle-button [(editMode)]="editMode" (click)="ToggleEditMode()"></app-edit-toggle-button>
    </h3>

    <div class="row" *ngFor="let armor of character.armor; let i = index">
      <app-armor [class.col-10]="editMode" [item]="armor" [index]="i" [editMode]="editMode"></app-armor>
      <app-list-remove-button class="col-1" [(editMode)]="editMode" [index]="i" (click)="onRemove(i)"></app-list-remove-button>
    </div>

    <app-list-add-button [(editMode)]="editMode" (click)="onAdd()"></app-list-add-button>
  </div>
</form>
